In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [101]:
datak=pd.read_csv("C:/Users/raman/Desktop/kaggle/titanic/train.csv")

In [102]:
datak.shape

(891, 12)

In [103]:
datak.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
datak.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
datak.isnull().sum().sort_values(ascending=False)

Cabin          687
Age            177
Embarked         2
Fare             0
Ticket           0
Parch            0
SibSp            0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

In [6]:
datakn=datak.select_dtypes(include=[np.number])
datako=datak.select_dtypes(include=['object'])

In [7]:
datakn.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [8]:
datakn.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [9]:
pd.value_counts(datako.Cabin)

B96 B98            4
C23 C25 C27        4
G6                 4
F2                 3
D                  3
F33                3
E101               3
C22 C26            3
C68                2
C93                2
D36                2
C78                2
B35                2
B28                2
C65                2
D35                2
C126               2
F4                 2
E24                2
B77                2
B57 B59 B63 B66    2
F G73              2
E121               2
B18                2
E67                2
C52                2
B51 B53 B55        2
D26                2
C124               2
C123               2
                  ..
E10                1
A7                 1
E50                1
C90                1
A34                1
C32                1
A5                 1
C54                1
C45                1
B101               1
B19                1
B80                1
D50                1
D10 D12            1
D21                1
D28                1
T                  1
B4                 1
C103               1
D47                1
A23                1
B73                1
C87                1
E34                1
C7                 1
C49                1
F G63              1
D6                 1
E40                1
C91                1
Name: Cabin, Length: 147, dtype: int64

In [10]:
pd.value_counts(datako.Embarked)

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [11]:
datakn.Age.fillna(datakn.Age.mean(),inplace=True)

C:\Users\raman\Anaconda3\lib\site-packages\pandas\core\generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [12]:
datako.columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [13]:
datako.Cabin.fillna('G6',inplace=True)

C:\Users\raman\Anaconda3\lib\site-packages\pandas\core\generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [14]:
datako.Embarked.fillna('S',inplace=True)

C:\Users\raman\Anaconda3\lib\site-packages\pandas\core\generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
datako.isnull().sum().sort_values(ascending=False)

Embarked    0
Cabin       0
Ticket      0
Sex         0
Name        0
dtype: int64

In [16]:
data=pd.concat([datakn,datako],axis=1)

In [17]:
data.isnull().sum().sort_values(ascending=False)

Embarked       0
Cabin          0
Ticket         0
Sex            0
Name           0
Fare           0
Parch          0
SibSp          0
Age            0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [18]:
objcols=data.select_dtypes(include=['object'])
intcols=data.select_dtypes(include=['int64'])
floatcols=data.select_dtypes(include=['float64'])

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()

In [21]:
objcols1=objcols.apply(le.fit_transform)

In [23]:
df=pd.concat([intcols,floatcols,objcols1],axis=1)

In [24]:
y=df.Survived
x=df.drop('Survived',axis=1)

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
lr=LogisticRegression()

In [28]:
lrmodel=lr.fit(x,y)

In [29]:
dc=DecisionTreeClassifier()

In [30]:
dcmodel=dc.fit(x,y)

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
rfc=RandomForestClassifier()

In [33]:
rfcmodel=rfc.fit(x,y)

In [34]:
from sklearn.ensemble import GradientBoostingClassifier

In [35]:
gb=GradientBoostingClassifier()

In [36]:
gbmodel=gb.fit(x,y)

In [37]:
testd=pd.read_csv("C:/Users/raman/Desktop/kaggle/titanic/test.csv")

In [38]:
testd.isnull().sum().sort_values(ascending=False)

Cabin          327
Age             86
Fare             1
Embarked         0
Ticket           0
Parch            0
SibSp            0
Sex              0
Name             0
Pclass           0
PassengerId      0
dtype: int64

In [39]:
testd.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [40]:
testd.Age.fillna(testd.Age.mean(),inplace=True)

In [41]:
testd.isnull().sum().sort_values(ascending=False)

Cabin          327
Fare             1
Embarked         0
Ticket           0
Parch            0
SibSp            0
Age              0
Sex              0
Name             0
Pclass           0
PassengerId      0
dtype: int64

In [42]:
testd.Fare.fillna(testd.Fare.mean(),inplace=True)

In [43]:
pd.value_counts(testd.Cabin)

B57 B59 B63 B66    3
E34                2
C23 C25 C27        2
C6                 2
C31                2
B45                2
F4                 2
C78                2
C101               2
C55 C57            2
C116               2
A34                2
C89                2
C80                2
B61                1
A11                1
E52                1
F E57              1
D22                1
A21                1
C51                1
D21                1
B52 B54 B56        1
E60                1
F2                 1
D43                1
B36                1
C86                1
C7                 1
B10                1
                  ..
E46                1
B69                1
D28                1
G6                 1
D19                1
C97                1
B41                1
D37                1
D38                1
B26                1
C32                1
F G63              1
C22 C26            1
F                  1
C105               1
D40                1
D                  1
B58 B60            1
B24                1
C62 C64            1
A9                 1
A29                1
B51 B53 B55        1
C46                1
E45                1
B78                1
E39 E41            1
B71                1
D15                1
C28                1
Name: Cabin, Length: 76, dtype: int64

In [44]:
testd.Cabin.fillna('B57',inplace=True)

In [45]:
testd.isnull().sum().sort_values(ascending=False)

Embarked       0
Cabin          0
Fare           0
Ticket         0
Parch          0
SibSp          0
Age            0
Sex            0
Name           0
Pclass         0
PassengerId    0
dtype: int64

In [46]:
objcolstd=testd.select_dtypes(include=['object'])
intcolstd=testd.select_dtypes(include=['int64'])
floatcolstd=testd.select_dtypes(include=['float64'])

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le=LabelEncoder()

In [49]:
objcols1td=objcolstd.apply(le.fit_transform)

In [50]:
tddf=pd.concat([intcolstd,floatcolstd,objcols1td],axis=1)

In [51]:
dcpredict=dcmodel.predict(tddf).copy()

In [52]:
lrpredict=lrmodel.predict(tddf)

In [53]:
rfcpredict=rfcmodel.predict(tddf)

In [54]:
gbpredict=gbmodel.predict(tddf)

In [55]:
submit=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":dcpredict})
submit.to_csv('submit.csv',index=False)

In [56]:
submit1=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":lrpredict})
submit1.to_csv('submit1.csv',index=False)

In [57]:
submit2=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":rfcpredict})
submit2.to_csv('submit2.csv',index=False)

In [58]:
submit3=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":gbpredict})
submit3.to_csv('submit3.csv',index=False)

In [59]:
submit1=pd.read_csv('submit1.csv')

In [60]:
submit2=pd.read_csv('submit2.csv')

In [61]:
submit3=pd.read_csv('submit3.csv')

In [62]:
submit=pd.read_csv('submit.csv')

In [67]:
submit.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         0
4          896         1

In [68]:
submit1.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [69]:
submit2.head()

   PassengerId  Survived
0          892         1
1          893         1
2          894         0
3          895         1
4          896         1

In [70]:
submit3.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [85]:
from sklearn.neural_network import MLPClassifier

In [86]:
nn=MLPClassifier(activation="relu",hidden_layer_sizes=(10,))

In [87]:
nnmodel=nn.fit(x,y)

In [88]:
nnpredict=nnmodel.predict(tddf)

In [89]:
submit4=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":nnpredict})
submit4.to_csv('submit4.csv',index=False)

In [90]:
from sklearn.neighbors import KNeighborsClassifier

In [91]:
knn=KNeighborsClassifier()

In [92]:
knnmodel=knn.fit(x,y)

In [93]:
knnpredict=knnmodel.predict(tddf)

In [94]:
submit5=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":knnpredict})
submit5.to_csv('submit5.csv',index=False)

In [95]:
from sklearn.svm import SVC

In [96]:
supportvec=SVC(kernel="linear")

In [97]:
supportvecmodel=supportvec.fit(x,y)

In [98]:
supportvecpredict=supportvecmodel.predict(tddf)

In [99]:
submit6=pd.DataFrame({"PassengerId":tddf.PassengerId,"Survived":supportvecpredict})
submit6.to_csv('submit6.csv',index=False)